body {
    background-image: url(../images/kristina-kashtanova-EwpUsHDmEwg-unsplash.jpg);
    /* Set the background image */
}

.container {
    margin-bottom: 55px;
    /* Set a bottom margin to allow the sticky footer */
}

.jumbotron {
    /* Special styling for the jumbotron */
    text-align: center;
    background-color: black;
    color: white;
    border: 10px solid brown;
    font-family: 'Vollkorn', serif;
}

.trains {
    /* Special styling for the train list and form */
    border: 10px solid brown;
    background-color: black;
    color:white;
    font-family: 'Vollkorn', serif;
}

.form-control {
    /* Styling for form input controls */
    background-color: #b49292;
    font-weight: 700;
}

.footer {
    /* Full styling for sticky footer */
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
    border-top: 10px solid brown;
    color:  #b49292;
    text-align: center;
}

.my-alert {
    /* Specil styling for the alert box */
    background-color:  #b49292;
    color: black;
    position:fixed;
    top: 35%;
    left: 35%;
    height: 100px;
    width: 350px;
    border: 10px solid brown;
    text-align: center;
    display:none;
}

#clear-alert {
    margin: auto;
}

.now {
    /* Special style for the "Arriving now" span  */
    color:red;
    font-weight: 900;
}